#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
body{
    background-color: rgb(228, 34, 24);
}
.logn{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
.out{
	background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
		text-align: left;
}

